:root {
    --text-color: rgb(255, 0, 0);
    --separator-color: rgb(139, 33, 25);
    --background-color: #303741;

}

[data-theme="dark"] {
    --text-color: rgb(255, 0, 0);
    --separator-color: rgb(3, 3, 3);
background-image: url(./images/Cefetback-dark2.png);    color: #ccc;
}

body {
    font-family: Arial, sans-serif;
    background-color: #303741;
    background-position: 10%;
    background-size: cover;
}


.menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    color: var(--text-color);
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu.show {
    transform: translateY(0);
}

.nav-bar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    margin: 0 15px;
}

.nav-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-bar ul li a:hover {
    color: #aa0404;
}

[data-theme="dark"] .nav-bar ul li a {
    color: var(--text-color);
}

.header-content {
    width: 100%;
    padding: 15px 20px;
    background-color: #000000;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    box-sizing: border-box;
}

.header-content.show {
    transform: translateY(0);
}

.header-content.hide {
    transform: translateY(-100%);
}

.caixa-branca {
    color: var(--text-color);
    width: 90%;
    max-width: 1000px;
    min-height: calc(1000px - 200px);
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(58, 49, 49);
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.caixa-branca2 {
    color: var(--text-color);
    width: 90%;
    max-width: 1000px;
    min-height: calc(1000px - 200px);
    margin: 50px auto;
    padding: 40px;  
    margin-top: 5cm;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0);
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body[data-theme="dark"] .caixa-branca {
    background-color: black;
    color: rgb(228, 37, 24);
}
body[data-theme="dark"] .caixa-branca2{
    background-color: black;
    color: rgb(199, 53, 27);
}

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.logo img {
    animation: spin 30s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#dark-mode-toggle img {
    width: 40px;
    height: 40px;
}

.icon-container {
    text-align: center;
    padding-top: 120px;
}

.ICONEPRINCIPAL {
    max-width: 90%;
    height: auto;
    border-radius: 2%;
}

.faixa-azul, .faixa-azul2 {
    height: 10px;
    width: 100%;
    margin-top: 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.faixa-azul {
    background-color: cadetblue;
    margin-bottom: 20px;
}

.faixa-azul2 {
    background-color: rgb(255, 255, 255);
}

.arredondada {
    display: flex;
    justify-content: center;
}

.arredondada img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
}

.image-text-row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-image: url(./images/teste1.gif);
    background-size: cover;
    border-radius: 10%;
}

.image-text-row:hover {
    animation: backgroundChange 2s linear forwards;
}

@keyframes backgroundChange {
    0% {
        background-image: url(./images/teste1.gif);
    }
    100% {
        background-image: url(./images/teste2.gif);
    }
}
@keyframes backgroundChangeReverse {
    0% {
        background-image: url(./images/teste2.jpg);
    }
    100% {
        background-image: url(./images/teste1.gif);
    }
}



.image-text-row:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.image-text-row:hover .texto1, 
.image-text-row:hover .texto3, 
.image-text-row:hover .texto2, 
.image-text-row:hover .redestitle, 
.image-text-row:hover .texto4 {
    color: rgb(239, 251, 255); 
    text-shadow: 2px 2px 4px rgb(0, 110, 255);
}   

.image-text-row img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    height: 300px;
    transition: transform 0.3s ease-in-out;
    
}

.image-text-row img:hover {
    transform: scale(1.05);
}

.texto1, .texto2, .texto3, .texto4 {
    line-height: 1.6;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body[data-theme="dark"] .texto1, 
body[data-theme="dark"] .texto2, 
body[data-theme="dark"] .texto3, 
body[data-theme="dark"] .texto4 {
    background-color: #33333356;
    color: rgb(255,     255, 255);
    margin-right: 2%;
}

.texto1, 
.texto3 {
    background-color: #f9f9f95b;
    color: rgb(0, 0, 0);
    margin-right: 2%;
    transition: color 2s ease-in-out;


}
.texto2,
.texto4 {
    background-color: #f9f9f95b;
    color: rgb(0, 0, 0);
    margin-left: 2%;
    transition: color 2s ease-in-out;

}

.page-title {
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 20px;
}
.page-title2 {
    text-align: start;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 28px;
    color: var(--text-color);
    margin-bottom: 20px;
}
.page-title3 {
    text-align: start;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
    font-size: 38px;
    color: var(--text-color);
    margin-bottom: 7px;
}
.venha {
    background-color: #ebe8e8af;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 65px;
    transition: background-color 0.5s ease-in-out;
}

[data-theme="dark"] .venha {
    background-color: #44444491; 
}

.content-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.text-content {
    flex: 1;
    color: #303741;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-family: GeneralSans-Medium;
    font-size: 18px;
    font-weight: 500;
    line-height: 178%;
    margin-bottom: 30px;
    
}
[data-theme="dark"] .text-content {
    color: rgb(183, 197, 218);
}


.image-content img {
    max-width: 100%;
    height: auto;
    max-width: 286px;
    display: flex;
    margin-right: 1cm;
    margin-top: -2cm;
}
.text-content .blue__link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    border: none;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px; 
}
.text-content p {
    margin-bottom: -30px; 
}

.text-content .blue__link:hover {
    background-color: #0056b3; 
}


.page-header__title {
    color: var(--text-color);
    font-size: 28px;
}

.lista-personagens {
    margin-bottom: 40px;
}

.lista-personagens h2 {
    font-family: 'Creepster', cursive;
    font-size: 22px;
    color: var(--text-color);
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.lista-personagens p {
    font-family: 'Creepster', cursive;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
    text-align: center;
}

.separator {
    border: none;
    border-top: 2px solid var(--separator-color);
    margin: 20px auto;
    width: 80%;
}

.icones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
}

.icone img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover; 
}


.icone {
    transition: transform 0.3s ease;
}

.icone:hover {
    transform: scale(1.1);
}

.character-img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.tabela-musicas {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.redestitle {
    margin-left: 35%;
    display: flex;
    justify-content: center;
    grid-row: auto;
    transition: color 2s ease-in-out, text-shadow 2s ease-in-out;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.redes {
    top: 50cm;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(38, 64, 99, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    animation: pulse 20s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    80% { transform: scale(0.9); }
    100% { transform: scale(1); }
}

.redes:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.tabela-musicas td {
    border: 1px solid #3498db;
    padding: 8px;
    text-align: left;
}

.tabela-musicas a {
    color: #3498db;
    text-decoration: none;
}

.tabela-musicas a:hover {
    text-decoration: underline;
}

.lineup img {
    width: auto;
    margin-left: 24%;
}

@media (max-width: 768px) {
    .nav-bar ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar ul li {
        margin: 10px 0;
    }
}

.image-text-row img {
    max-width: 90%;
    height: auto;
    margin-bottom: 15px;
}
img:hover{
    transform: scale(1.025);
    transition: 0.5s;
}
body {
    margin: 0;
    color: #aa0404;
    font-family: 'Righteous', cursive;
;
}

#welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); 
}

#continue-button {
    font-size: 24px;
    padding: 20px 40px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1.5s ease-in-out;

    
}

#continue-button:hover {
    background-image: url(./images/bloodi.jfif);
    
}

main {
    display: none;
}

.icone-principal {
    position: absolute;
    top: 25px;
    right: 10px; 
    width: 128px; 
    height: 72px; 
    animation: hoverEffect 2s infinite;

}
@keyframes hoverEffect {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
}
